*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(4, 4, 4, 0.285);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 30px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color:black;
    box-shadow: 0 0 10px white;

}

/* Home Section */
#Home{
    display: flex;
    flex-direction: column;
    height: 540px;
    justify-content: center;
    margin-left: 100px;
    padding: 15px 32px;
    font-size: 2.00em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(82, 66, 46);
    
    }
.btn{
     width: 100px;
     height: 50px;
     background-color:beige;
     color: brown;
     font-size: 0.7em;
     margin: 20px 10px;
     cursor: pointer;
     border-color: brown;
    }    


body{
    background-image: url('bg.jpg') ;
    height: 100vh;
    background-size: cover;
}

.pic img{
    width: "60%";
    position: relative;
    height:450px;
    border: 30px solid #939191;
    border-radius: 50px;
}

/* About Section */

#About{
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    text-align: center;
    margin-bottom: 50px;
  }
#intro h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 90px;
    font-weight: 600;
     color: rgb(59, 58, 58)  
      
  }
#photo{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
  }
#intro{
    width: 540px;
  }
#intro h2 {
    text-align: center;
    color: #7a582e;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 30px;
    padding: 10px;  
  }
#intro p{
    font-size: 25px;
  line-height: 25px;
  letter-spacing: 1px;
 align-items: last baseline;
 margin-left: 100px;
}

/* Portfolio */
#portfolio{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    color: rgb(130, 124, 124);
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
.card {
    width: 70%;
    padding: 30px 90px 90px 90px;
    border: 6px solid rgba(0, 0, 0, 0.3);
    box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    position: relative;
  }
  
  .card h2 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 60px;
    text-transform: uppercase;
  }
  
  .card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
  }
  
  .card .row .form-group input,
  .card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    color: #f4eded;
    border-radius: 50px;
  }
  
  .card .row .form-group label {
    line-height: 40px;
    color: #3c1d1d;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .card .row .form-group input:focus,
  .card .row .form-group textarea:focus {
    border: 5px solid #ffffff1a;
    transition: all 0.5s;
  }
  
  .card .row input[type="submit"] {
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #964545;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .card .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 0.038);
    color: #ffffff79;
    transition: all 0.4s;
  }
  
  @media screen and (max-width: 900px) {
    .card .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .card {
      padding: 20px;
    }
    
    .card h2 {
      font-size: 34px;
    }
    
    .card .row input[type="submit"] {
      width: 100%;
    }
  }